/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    width: 150vh;
    height: 75vh;
    background: rgba(227, 227, 227, 0.423);
}

.sidebar form{
    padding: 20px;
    margin: 20px;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.sidebar input {
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: bold;
    width: 80%;
    height: 5%;
}

.sidebar button {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    width: 30%;
    height: 7%;
}

.sidebar button:hover {
    cursor: pointer;
    background-color: rgb(227, 227, 227);
}

.sidebar button:active{
    transform: scale(0.95);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.date {
    font-size: 2em;
    font-weight: bold;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    font-style: bold;
}

.item img {
    max-width: 5vh;
    max-height: 5vh;
}

.prediction-icon {
    max-width: 40vh;
    max-height: 40vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.msg {
    font-size: 1.2rem;
    font-style: italic;
    font-style: bold;
    color: #000000;
    text-align: center;
}
