/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradient(180deg, rgba(255,222,89,1) 0%, rgba(255,255,255,1) 100%); */
    /* background: linear-gradient(180deg, rgba(0,131,181,1) 40%, rgba(213,213,213,1) 100%); */
    /* background: linear-gradient(180deg, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 100%); */
    background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(255,255,255,1) 100%);
    /* background: linear-gradient(180deg, rgba(0,83,181,1) 0%, rgba(213,213,213,1) 100%); */
}

/* Fechas */
.dates {
    height: 100px;
    text-align: center;
    align-content: center;
}

.date_search {
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    outline: none;
    border: none;
}


/* WEATHER INFORMATION */
.weather-container {
    display: flex;
    align-items: center;
}

.weather-icon {
    margin-right: 30px;
    margin-left: 200px;
    max-width: 20%;
    max-height: 20%;
}

.weather-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 5px;
}

.min-max {
    font-size: 40px;
}

.min-temp {
    color: #00aaff;
    margin-right: 30px;
}

.max-temp {
    color: #ff4d4d;
}


/* PRONOSTIC */
.recycler-view {
    flex: 1;
    height: 500px;
    width:80%;
    padding: 10px;
    margin-right: 40px;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.recycler-view::-webkit-scrollbar {
    width: 8px;
}

.recycler-view::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

.weather-item {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 0;
    border-bottom: 1px solid #000000;
}

.weather-item:last-child {
    border-bottom: none;
}

.day {
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
    color: #000000;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-left: 70px;
}

.temperature-item {
    font-size: 20px;
    color: #000000;
    margin-left: 70px;
}

.min-temp-pronostic {
    color: #00aaff;
}

.max-temp-pronostic {
    color: #ff4d4d;
}


/* ADDITIONAL DATA */

.additional-data {
    height: 200px;
    display: flex;
    align-items: center;

}

.data {
    font-size: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data img {
    max-width: 15%;
    max-height: 15%;
    margin-right: 10px;
}

/* FOOTER */
.footer {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}
